.carousel {
  --slide-transition-duration: 1000ms;
  
  margin: 0 auto;
  height: 700px;
  width: min(90%, 1000px);
}

.slides-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slides-container.transitioning-next .slide,
.slides-container.transitioning-prev .slide {
  /* transition: all var(--slide-transition-duration) ease-in-out; */
}

.slides-container.transitioning-next .slide.entering {
  /* transform: translateX(-100%); */
  animation: slideInFromRight var(--slide-transition-duration) ease-in-out forwards;
}

.slides-container.transitioning-next .slide.leaving {
  /* transform: translateX(-100%); */
  animation: slideOutToLeft var(--slide-transition-duration) ease-in-out forwards;
}

.slides-container.transitioning-prev .slide.entering {
  /* transform: translateX(100%); */
  animation: slideInFromLeft var(--slide-transition-duration) ease-in-out forwards;
}

.slides-container.transitioning-prev .slide.leaving {
  /* transform: translateX(100%); */
  animation: slideOutToRight var(--slide-transition-duration) ease-in-out forwards;
}

.slider-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 8px;
  margin-top: 12px;
}
